html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

video {
    display: block;
    -webkit-app-region: drag;
}

#self {
    height:30%;
    position:absolute;
    right:20px;
    bottom: 20px;
    border:1px solid rgba(0,0,0,0.8);
}

#caller {
    width:100%;
    height:100%;
    margin:0;
    background:rgba(0,0,0,1);
}